@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
    --clr-1: #cecbc8;
    --clr-2: #28221e;
    --clr-3: #614e41;
    --clr-4: #7f6951;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to bottom left,#cecbc8,#7f6951);
    height: 100vh;
    font-family: "Neucha", sans-serif;
    color: #85871A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h6 {
    text-align: center;
    margin-top: 0;
}

.extra-title {
    color: #7f6951;
}

.section {
    background-color: #F78F1E;
    border-radius: 50px;
    box-shadow:5px 5px 10px #28221e;
    padding: 50px;
    margin: 10px;
    color: #F2D694;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-items {
    display: flex;
    margin-bottom: 5px;
}

.label {
    width: 100%;
}

.section h2 {
    text-align: center;
}

.submit-button {
    background-color:#F78F1E;
    border: 1px solid #F2D694;
    box-shadow:2px 2px 2px #F2D694;
    padding: 3px 6px;
    border-radius: 5px;
    margin: 20px auto;
    color: #633D2E;
    margin-left: 200px;
    cursor: pointer;
    font-family: "Neucha", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}

.submit-button:hover {
    color: #F2D694;
    opacity: 0.9;
}

.submit-button:active {
    transform: rotate(10deg);
}

.input {
    background-color: #F0D8A8;
    border-radius: 4px;
    padding: 3px 40px;
    font-family: "Neucha", sans-serif;
}

.input:focus{
    border-color: #F0D8A8 ;
    outline: none;
}

.one {
    border-right: 1px solid #bfd8ad5a ;
    padding-right: 30px;
}

.two {
    border-right: 1px solid #bfd8ad5a;
    padding-right: 30px;
}

.three {
    text-align: left;
    padding-right: 50px;
}

.book-list-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
    color: #28221e;
    width: 100%;
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.book-list-btn:focus {
    outline: none;
}

.book-title {
    flex-grow: 1;
    text-align: left;
    color: #F2D694;
}

.delete {
    padding-left: 10px;
    color: #633D2E;
}

.listItems {
    list-style-type: none;
}

.functionality {
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: #28221e;
}

.edit-book {
    color: #633D2E;
}

